
<div class="pl-[8%] bg-cinza" style="padding-bottom: 250px !important;">
  <div class="p-8 bg-cinza">
    <h1 translate="MENU_CONTATO" class="title-font-size mb-10 font-ramona-bold" style="margin-top: 100px !important;"></h1>
    <div class="flex items-center" style="margin-left: 5px; margin-top: 6px;">
      <img class=" mr-2" src="./assets/icons/envelope.svg">
      <div class="font-ramona-light" style="font-weight: 500; margin-top: 2px; font-size: 18px;">contato@estudiocelestina.com</div>
    </div>
    <div class="flex items-center" style="margin-top: 8px; margin-left: 5px; font-weight: 500;">
      <img class=" mr-2" src="./assets/icons/icon-instagram.svg">
      <div class="font-ramona-light" style="font-weight: 500; margin-top: 3px; font-size: 18px;">@estudiocelestina</div>
    </div>
  </div>
</div>

