
<div class="pl-[8%] bg-cinza" style="padding-bottom: 250px !important;">
  <div class="p-8 bg-cinza">
    <h1 class="title-font-size mb-10 font-ramona-bold" style="margin-top: 100px !important;">Contato</h1>
    <div class="flex items-center" style="margin-left: 5px; margin-top: 6px;">
      <img class="h-3 mr-2" src="./assets/icons/envelope.svg">
      <div class="font-ramona-light">contato@estudiocelestina.com</div>
    </div>
    <div class="flex items-center" style="margin-top: 8px; margin-left: 5px;">
      <img class="h-3 mr-2" src="./assets/icons/icon-instagram.svg">
      <div class="font-ramona-light">@estudiocelestina</div>
    </div>
  </div>
</div>

