<div class="bg-cinza">
  <div class="bg-gray-900 w-full h-7"></div>

  <div class="w-full flex pt-2">
    <div class="mr-2 w-[33%]">
      <img class="h-img object-cover" src="{{filme.images[0].url}}">
    </div>
    <div class="mr-2 w-[33%]">
      <img class="h-img object-cover" src="{{filme.images[0].url}}">
    </div>
    <div class=" w-[33%]">
      <img class="h-img object-cover" src="{{filme.images[0].url}}">
    </div>
  </div>
  <div class="flex justify-center">
    <div class="text-center py-10 w-[50%] px-10">
      <h1 translate class="text-[50px] font-ramona-bold font-[500]">{{filme.title}}</h1>
      <h2 translate class="sub font-ramona-light font-[500]">{{filme.sub}}</h2>
      <h2 translate class="sub font-ramona-light font-[500]">{{filme.autor}}</h2>
      <h4 translate class="mt-4 font-ramona-light font-[500]">{{filme.texto_1}}</h4>

    </div>
  </div>
  <div class="relative">
    <img src="./assets/images/Filmes_faixa_1.png">
    <div class="div-faixa flex text-[23px] top-0 text-white w-[100%] -mt-[60px] xl:-mt-[75px] 2xl:-mt-[100px]">
      <div class="txt-size-faixa w-[8%] h-full"> </div>
      <div class="font-ramona-bold xl:text-[32px] w-[15%] h-full text-center">Equipe</div>
      <div class="txt-size-faixa w-[8%] h-full"> </div>
      <div class="font-ramona-bold xl:text-[32px] w-[15%] h-full text-gray-900 text-center">Elenco</div>
      <div class="txt-size-faixa w-[8%] h-full"> </div>

      <div class="font-ramona-bold xl:text-[32px] w-[30%] h-full text-gray-900 text-center">Prêmios e Festivais</div>
      <div class="txt-size-faixa w-[8%] h-full"></div>
      <div class="txt-size-faixa w-[8%] h-full"></div>

    </div>
  </div>
  <div class="mt-32 pb-[300px] pl-[8%] font-ramona-light">
    Equipe:<br>
    Direção, Direção de Arte e Animação: Cassandra Reis<br>
    Roteiro: Cassandra Reis e Mariana Lopes<br>
    Produção: Mariana Lopes e Victor Casé<br>
    Bonecos e Cenário: Cassandra Reis e Gabriel Barreto<br>
    Direção de Fotografia e Correção de Cor: Gabriela Akashi<br>
    Captação de Som e Montagem: Raquel Vieira<br>
    Assistente de Produção: Flávia Lucena<br>
    Efeitos Digitais: Yugo Hattori, Renan Ramiro<br>
    Edição de som: Felipe Cadillac<br>
    Mixagem: Sandro Costa<br>
    Música e Direção Musical: Gustavo Kurlat<br>


  </div>
</div>

