<div class="bg-cinza">
  <div class="div-black"></div>

  <div class="w-full flex pt-2">
    <div class="mr-2 w-[33%]">
      <img class="h-img object-cover" src="{{filme.images[0].url}}">
    </div>
    <div class="mr-2 w-[33%]">
      <img class="h-img object-cover" src="{{filme.images[0].url}}">
    </div>
    <div class=" w-[33%]">
      <img class="h-img object-cover" src="{{filme.images[0].url}}">
    </div>
  </div>
  <div class="flex justify-center">
    <div class="text-center py-10 w-[50%] px-10">
      <h1 translate class="text-[50px] font-ramona-bold font-[500]">{{filme.title}}</h1>
      <h2 translate class="sub font-ramona-light font-[500]">{{filme.sub}}</h2>
      <h2 translate class="sub font-ramona-light font-[500]">{{filme.autor}}</h2>
      <h4 translate class="mt-4 font-ramona-light font-[500]">{{filme.texto_1}}</h4>

    </div>
  </div>
  <div class="relative">
    <img src="./assets/images/Filmes_faixa_1.png">
    <div class="div-faixa flex text-[23px] top-0  bg-green-900 text-white w-[100%] xl:-mt-[70px]">
      <div class="div-faixa-none txt-size-faixa w-[5%] h-full"> </div>
      <div class="txt-size-faixa  w-[26%] h-full">Equipe</div>
      <div class=" txt-size-faixa w-[32%] h-full">Elenco</div>
      <div class="txt-size-faixa  w-[44%] h-full">Prêmios e Festivais</div>

    </div>
  </div>
</div>
