<div id="div-video" class="bg-cinza" #divVideo>
  <div>
    <video id="video" autoplay loop muted class="w-full -ml-[1px]">
      <source src="./assets/videos/CELESTINA_home-banner-tv_EDIT.mp4" />
    </video>
  </div>
</div>
<div class="w-full flex flex-col p-4">
  <div class="grid grid-cols-2 gap-4">
    <ng-container *ngFor="let item of listFilmes">
      <div class="p-4 relative group cursor-pointer" (click)="navegate('filme/'+item?.id)" >
        <img src="{{item.img}}" alt="{{item.label}}" class="" style="max-width: 100%; height: auto; ">
        <div class="group-hover:opacity-100 opacity-0 bg-[url('./assets/images/hover_V1.png')] bg-cover absolute top-[25%] left-[10%] w-[80%] h-[50%] group-hover:flex justify-center items-center duration-150">
          <div class="flex flex-col group-hover:opacity-100 opacity-0">
            <div class="sm:text-[40px]">
              {{item.label}}
            </div>
            <div class="text-center sm:text-[28px]">
              {{item.ano}}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

