@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
  }
}

@tailwind components;
@tailwind utilities;

p {
  @apply leading-[1.6];
}

@font-face {
  font-family: Ramona-Bold;
  src: url('./assets/fonts/Ramona-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Ramona-Light;
  src: url('./assets/fonts/Ramona-Light.ttf') format('truetype');
}

@font-face {
  font-family: HKGrotesk-Regular;
  src: url('./assets/fonts/HKGrotesk-Regular.ttf') format('truetype');
}
