<div class="flex flex-wrap bg-cinza p-8 font-hkgrotesk-regular font- font-weight txt-end ">
  <div class="w-full md:w-1/2 px-4 mt-16">
    <p class="" translate>
      TITULO_SOBRE
    </p>
    <p translate>TEXTO_1_SOBRE</p>
    <p class="mt-10" translate>
      TEXTO_2_SOBRE
    </p>
  </div>

  <div class="w-full md:w-1/2 px-4">
    <div class="p-4">
      <img
        src="../../../assets//images/Icone_sobre.png"
        alt="Imagem"
        class="w-auto h-auto max-w-full max-h-custom"
      />
    </div>
  </div>
</div>
