<div class="flex flex-wrap bg-cinza p-8">
  <div class="w-full md:w-1/2 px-4 mg-t-15 md:order-last">
    <p class="text-right">
      O Estúdio Celestina é uma produtora que reúne
    </p>
    <p class="text-right">profissionais criativos dispostos a mudar o mundo.</p>
    <p class="text-right mt-10">
      Com um interesse particular para conteúdos de impacto social, acreditamos
      no potencial da arte como meio de promover mudanças. Nossa ideia é
      realizar projetos que inspirem pessoas a cuidar umas das outras e do
      ambiente que as cerca e, para isso, é imprescindível que encaremos o
      audiovisual como um meio eficaz para a formação crítica do sujeito,
      reflexão coletiva e representatividade de vozes que não costumam ressoar.
    </p>
  </div>

  <div class="w-full md:w-1/2 px-4 md:order-first flex justify-center items-center">
    <div class="p-4">
      <img
        src="../../../assets//images/Icone_sobre.png"
        alt="Imagem"
        class="w-auto h-auto max-w-full max-h-custom"
      />
    </div>
  </div>
</div>
