<div class="flex flex-wrap justify-center bg-cinza p-8 xl:w-[80%]">
  <div class="w-full md:w-1/2 px-4 mg-t-15 md:order-first font-hkgrotesk-regular">
    <p class="text-right" translate>
      TITULO_SOBRE
    </p>
    <p class="text-right" translate>TEXTO_1_SOBRE</p>
    <p class="text-right mt-10" translate>
      TEXTO_2_SOBRE
    </p>
  </div>

  <div class="w-full md:w-1/2 px-4 md:order-last flex justify-center items-center">
    <div class="p-4">
      <img
        src="../../../assets//images/Icone_sobre.png"
        alt="Imagem"
        class="w-auto h-auto max-w-full max-h-custom"
      />
    </div>
  </div>
</div>
